body {
	margin: 0;
	padding: 0;
	background-color: #FFFDF2;
	font-family: 'Lora', serif;
}
/*first page*/
.header_img {
	/*background: url(./img/head-video bg.png);*/
	height: 356px;
	width: 100%;
	
	/*background-size: cover;*/
}
.header_img img {
	width: 100%;
}
.video_soc {
	 width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.video_media {
	width: 100%;
    position: absolute;
    top: -12%;
}
.main_title {
	display: flex;
	justify-content: center;
	margin-top: 125px;
}
.title {
	margin: 0 10%;
	z-index: 3;
}
.title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.discription {
	margin: 10% 0;
}
.discription span {
	font-family: 'Finger Paint', cursive;
}
.about {
	display: flex;
	justify-content: center;
	position: relative;
	right: 8%;
}
.about_title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	border-left: 1px solid #000;
	padding-left: 5%;
}
.about_title1 p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
}
.about_title {
	width: 578px;
	margin: 0 5%;
}
.about_title1 {
	width: 578px;
}
.signature {
	text-align: end;
}
.site_menu {
	display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    top: -139%;
}
.site_menu img {
	position: relative;
	left: 0;
}
.main_discription {
	position: relative;
}
.img_link {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer_menu li {
	display: inline;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	margin: 0 20px;
}
.footer_menu a {
	text-decoration: none;
	color: #000;
}
.footer {
	background: #FFFFFF;
}
.footer_social img {
	margin: 8px 10px;
}
.footer_menu a:hover {
	border: 0px solid #000;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 2px;
	transition: .4s;
}
.foto_conteiner {
	display: flex;
	justify-content: center;
}
.scale {
	transition: 1s;
}
.scale:hover {
	transform: scale(1.2);
}

.section1 {
	position: relative;
}
.foto_slide {
	position: relative;
}
.bg_colos {
	position: absolute;
    top: -37%;
    z-index: -2;
    height: 600px;
    width: 100%;
}
.animate_img {
	position: absolute;
    top: 0;
    left: 5%;
     z-index: 4;
     width: 8%;
      -webkit-transition: -webkit-transform 10s;
     transform: rotate3d(1, 1, 1, 45deg);
}
.animate_img1 {
	position: absolute;
    top: 13%;
    right: 26%;
     z-index: 4;
    -webkit-transition: -webkit-transform 8s;
	transform: rotate3d(1, 1, 1, 45deg);
	width: 7%;
}
.animate_img2 {
	position: absolute;
    left: 7%;
    top: 47%;
     z-index: 4;
      -webkit-transition: -webkit-transform 8s;
      width: 7%;
}
.animate_img3 {
	position: absolute;
    top: -40%;
    left: 1%;
    z-index: 4;
     -webkit-transition: -webkit-transform 7s;
     width: 5%;
}
.animate_img4 {
	position: absolute;
    right: 20%;
    bottom: -15%;
     z-index: 4;
      -webkit-transition: -webkit-transform 9s;
      width: 6%;
}
.animate_img5 {
	position: absolute;
    bottom: 39%;
    left: 2%;
     z-index: 4;
      -webkit-transition: -webkit-transform 10s;
      width: 5%;
}
.animate_img6 {
	position: absolute;
    top: 47%;
    z-index: 4;
     -webkit-transition: -webkit-transform 5s;
     width: 4%;
}
.animate_img7 {
	position: absolute;
    top: 20%;
    z-index: 4;
     -webkit-transition: -webkit-transform 8s;
     width: 7%;
}
.menu_btn  {
	display: none;
}
.hide_menu {
	display: none;
}
.hide_slider {

	display: none;
}
.video_mb {
	display: none;
}
.mb_block_video {
	display: none;
}
	

@media screen and (max-width: 1440px) 
			    {
	.video_soc {
		height: 500px;

}
.animate__slideInRight {
	width: 80%;
}
.site_menu img {
	left: 21%;
}
.title p {
	font-size: 36px;
}
.logo {
	width: 19%;
}	
.logo img {
	width: 79%;
}
.about_title p {
	font-size: 18px;
}
.about {
	right: 0;
}
.about_title1 p {
	font-size: 18px;
}
.footer_menu li {
	font-size: 15px;
}
.footer_social img {
	width: 16%;
}
.flexslider {
	width: 90%!important;
}
.bg_colos {
	height: 100%;
	top: 0;
}
.site_menu {
	/*display: grid!important;*/
}
.video_mb {
	display: none;
}
.mb_block_video {
	display: none;
}

}

@media screen 
and (min-device-width: 420px)
and (max-device-width: 1024px) {
	.video_media {
		display: none;
	}
	.animate_img1 {
		opacity: .5;
	}
	.site_menu {
		display: none;
	}
	.video_soc {
		height: 323px;
	}
	.title p {
		font-size: 24px;
		line-height: 31px;
	}
	.logo {
		width: 20%;

	}
	.logo img {
		width: 100%;
	}
	.about {
		right: 0;
		display: block;
		border-left: 1px solid #000;
	    padding-left: 5%;
	    margin: 5% 0;
	}
	.about_title {
		margin: 0;
	}
	.about_title p, .about_title1 p {
		border: 0;
		font-size: 20px;
		line-height: 20px;
		padding-left: 0;
	}
	.main_discription {
		display: flex;
		justify-content: center;
	}
	.animate_img6 {
		display: none;
	}
	.video_mb {
		display: block;
		width: 100%;
	}
	footer {
		display: none;
	}
	.bg_colos {
		top: 0%;
	}
	.flexslider .slides img {
		width: 160%;
	}
	.mb_block_video {
		display: flex;
    	justify-content: center;
    	margin: 5% 0;
	}
	.menu_btn {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 3%;
    	right: 3%;
    	cursor: pointer;
	}
	.hide_menu {
		display: none;
		width: 100%;
		height: 100%;
		background: #FFFDF2;
		position: absolute;
		top: 25%;
		z-index: 3;

	}
	.animate__slideInRight {
		width: 62%;
	}
	.site_menu_hide {
		display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    overflow: hidden;
	}
	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -38%;
	}
	.text_hide a {
		font-size: 20px;
   		line-height: 23px;
   		text-transform: uppercase;
   		text-decoration: none;
   		color: #000;

	}
	.text_hide li {
		margin: 10% 0;
		list-style-type: none;
		border-bottom: 1px solid #000;
    	padding-bottom: 8px;
	}
	.hide_wrap {
		display: flex;
	}
	.footer_social {
		margin: 0 3%;
	}
	.close_btn {
		position: absolute;
		right: 3%;
		top: 82.5%;
		cursor: pointer;
	}
	.footer_social img {
		width: 5%;
	}
	.video_soc {
		position: relative;

	}
	 	
}

@media screen 
and (min-device-width: 320px)
and (max-device-width: 414px) {
	.video_mb {
		display: block;
		width: 100%;
	}
	.video_media {
		display: none;
	}
	.animate_img1 {
		opacity: .5;
	}
	footer {
		display: none;
	}
	.about_title1 p {
		padding: 0 4% 0 0;
	}
	.about_title p {

	}
	.site_menu {
		display: none;
	}
	.title p {
		font-size: 38px;
    line-height: 42px;
	}
	.video_soc {
		height: 300px;
	}
	.main_title {
		margin-top: 4%;
	}
	.logo {
		width: 40%;
		margin-left: 8%;
	}
	.title {
		margin: 45px %;
	}
	.about_title, .about_title1 {
		width: 100%;
	}
	.about {
		display: block;
		margin: 5% 0 5% 5%;
		border-left: 3px solid #000;
    	padding-left: 4%;
	}
	.foto_slide {
		display: none;
	}
	.hide_slider {
		display: block;
	}
	/*.flex-viewport {
		height: 263px!important;
		overflow: visible!important;
		margin-top: 22px;
	}*/
	.flexslider .slides li {
		/*width: 200px!important;*/
		/*margin-right: 175px!important;*/
	} 
	/*.flexslider {
		width: 100%!important;
		overflow: hidden;
	}*/
	/*.flexslider .slides img {
		width: 174%!important;
    display: block;
	}*/
	.bg_colos {
    	height: auto;
    	top: 76%;
	}
	.menu_btn img {
		width: 150px;
	}
	.close_btn img {
		width: 150px;
	}
	.mb_block_video {
		display: flex;
   		justify-content: center;
    	margin: 5% 0;
	}
	/*#hide {
		top: 17%;
	}*/
	.text_hide a {
		font-size: 16px;
	}
	.text_hide ul {
		padding: 0 10px;
	}
	.animate__slideInRight {
		width: 50%;
	}
	

									/*MENU*/
	.menu_btn {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 15%;
    	right: 3%;
    	cursor: pointer;
	}
	.hide_menu {
		display: none;
		width: 100%;
		height: 100%;
		background: #FFFDF2;
		position: absolute;
		top: 15%;
		z-index: 3;

	}
	.animate__slideInRight {
		width: 90%;
	}
	.site_menu_hide {
		display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    overflow: hidden;
	}
	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -11%;
	}
	.text_hide a {
		font-size: 43px;
   		line-height: 23px;
   		text-transform: uppercase;
   		text-decoration: none;
   		color: #000;

	}
	.text_hide li {
		margin: 10% 0;
		list-style-type: none;
		border-bottom: 1px solid #000;
    	padding-bottom: 8px;
	}
	.hide_wrap {
		display: flex;
	}
	.footer_social {
		margin: 0 3%;
	}
	.close_btn {
		position: absolute;
		right: 3%;
		top: 66%;
		cursor: pointer;
	}
	.footer_social img {
		width: 5%;
	}

	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -10%;
	}
	.geese {
		top: -7px;
	}
	.geese1 {
		top: -20px;
	}
	.geese2 {
		top: -34px;
	}
	.geese3 {
		top: -54px;
	}
	.geese4 {
		position: relative;
		
		top: -62px;
	}
	.geese5 {
		position: relative;
		
		top: -69px;
	}
	.geese6 {
		position: relative;
		
		top: -78px;
	}
	/*#close {
		position: absolute;
    right: 3%;
    top: -4%;
    cursor: pointer;
	}*/
	.footer_social img {
		width: 8%;
	}

	/*------*/

	.video_soc {
		position: relative;

	}
	.about_title p{
		border: 0;
		padding-left: 0;
		padding-right: 4%;
	}
	.about_title {
		margin: 5% 0;
	}
	.scale:hover {
		transform: scale(1.5);
	}
}















