body {
	margin: 0;
	padding: 0;
	background-color: #FFFDF2;
	font-family: 'Lora', serif;
}
header {
	position: relative;
}
/*first page*/
.header_img img {
	/*background: url(./img/head-video bg.png);*/
	height: 341px;
	width: 100%;
	
	/*background-size: cover;*/
}
.logo img {
	background-color: rgba(255, 253, 242, 0.7);
	position: absolute;
	top: 0;
}
.dark {
	background-color: rgba(0, 0, 0, .4);
	width: 100%;
    height: 341px;
    position: absolute;
    top: 0;
}
.main_title {
	display: flex;
	justify-content: center;
	margin-top: 125px;
	border-bottom: 1px solid #000;
	width: 64%;
}
.main_title1 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
	width: 100%;
	margin-bottom: 4%;
}
.main_title1 p {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 61px;
}
.titile_geese {
	display: flex;
	justify-content: center;
}
.main_title p {
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.title {
	margin: 0 10%;
}
.title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.discription {
	margin: 10% 0 5% 0;
	display: flex;
    justify-content: center;
    background: #89694A;
}
.discription2 {
	display: flex;
	justify-content: center;
}
.discription span {
	font-family: 'Finger Paint', cursive;
}
.about {
	display: flex;
	justify-content: center;
	position: relative;
	right: 8%;
}
.about_title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	border-left: 1px solid #000;
	padding-left: 5%;
}
.about_title1 p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
}
.about_title {
	width: 578px;
	margin: 0 5%;
}
.about_title1 {
	width: 578px;
}
.signature {
	text-align: end;
}
.site_menu {
	display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    z-index: 2;
}
.site_menu img {
	position: relative;
	left: 0;
}
.main_discription {
	display: flex;
	justify-content: center;
}
.img_link {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer_menu li {
	display: inline;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	margin: 0 20px;
}
.footer_menu a {
	text-decoration: none;
	color: #000;
}
.footer {
	background: #FFFFFF;
}
.footer_social img {
	margin: 8px 10px;
}
.footer_menu a:hover {
	border: 0px solid #000;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 2px;
	transition: .4s;
}

/*geese1*/
.about_gees {
	display: flex;
	justify-content: center;

}
.conteiner {
	display: flex;
    width: 64%;
}
.name_geese {
	width: 40%;
}
.name_geese p {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.name_geese span {
	position: relative;
}
.foto_geese {
	position: relative;
}
.foto_geese img  {
	position: absolute;
	bottom: 0;
	left: 62px;
}
.bg_foto {
	width: 594px;
	height: 340px;
	background: #89694A;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	    position: absolute;
    z-index: -1;
    bottom: 36px;
    left: 99px;

}
.conteiner_for_text {
	width: 64%;
}
..conteiner_for_text h1 {
	font-weight: normal;
}
.text_geese {
	font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
}
.text_geese1 {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	color: #fff;
	position: relative;
	top: -10%;
}
.foto_cart {
	position: relative;
    top: -21%;
    width: 100%;
}
.foto_cart img {
	margin: 0 10px 0 0;
	width: 31%;
}
.video_recipe {
	display: flex;
	justify-content: center;
	background: #89694A;
}
.film {
	width: 80%;
	height: 215px;
	background: #fff;
	margin: 5% 1%;
	padding: 10px;
}
.foto_conteiner {
	display: flex;
	justify-content: center;
}
.foto_slide {
	margin-top: 5%;
}
.scale {
	transition: 1s;
}
.scale:hover {
	transform: scale(1.2);
}
.text_conteiner {
	display: flex;
	justify-content: space-between;
}
.colos_bg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.colos_wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.colos_wrap img {
	position: absolute;
}
.colos_animate1 {
	left: 10%;
    top: 22%;
    width: 4%;
     -webkit-transition: -webkit-transform 6s;
}
.colos_animate2 {
	top: 48%;
    right: 10%;
    width: 4%;
     -webkit-transition: -webkit-transform 8s;
}
.colos_animate3 {
	top: 80%;
    left: 3%;
    width: 4%;
     -webkit-transition: -webkit-transform 4s;
}
.colos_animate4 {
	top: 42%;
    left: 14%;
    z-index: -1;
     -webkit-transition: -webkit-transform 5s;
     width: 5%;
}
.colos_animate5 {
	left: 43%;
    top: -13%;
    width: 5%;
    z-index: -1;
     -webkit-transition: -webkit-transform 7s;
}
.colos_animate6 {
	bottom: 0;
	width: 5%;
    left: 14%;
     -webkit-transition: -webkit-transform 6s;
}
.colos_animate7 {
	bottom: 0;
    right: 7%;
    width: 3%;
     -webkit-transition: -webkit-transform 8s;
}
.colos_animate8 {
	bottom: -70%;
    right: 13%;
    width: 5%;
     -webkit-transition: -webkit-transform 4s;
}
.colos_animate9 {
	top: -44%;
	width: 5%;
    left: 5%;
     -webkit-transition: -webkit-transform 5s;
}
.colos_animate10 {
	bottom: -34%;
    left: 5%;
    width: 6%;
     -webkit-transition: -webkit-transform 6s;
}
.colos_animate11 {
	bottom: -59%;
    left: 12%;
     -webkit-transition: -webkit-transform 10s;
     width: 5%;
}
.colos_animate12 {
	bottom: -37%;
    right: 0;
    width: 7%;
     -webkit-transition: -webkit-transform 5s;
}
.colos_animate13 {
	top: 35%;
	width: 6%;
	z-index: -1;
     -webkit-transition: -webkit-transform 6s;
}
.colos_animate14 {
	bottom: -100%;
    left: 5%;
    width: 5%;
      -webkit-transition: -webkit-transform 10s;
}
.colos_animate15 {
	bottom: -100%;
    right: 5%;
    width: 5%;
      -webkit-transition: -webkit-transform 8s;
}
.colos_animate16 {
	bottom: -119%;
    right: 12%;
    width: 4;
      -webkit-transition: -webkit-transform 8s;
}
.colos_animate17 {
	right: 0;
	-webkit-transition: -webkit-transform 8s;
}
.colos_animate18 {
	right: 5%;
    top: -53%;
    -webkit-transition: -webkit-transform 8s;
}
.colos_animate19 {
	right: 13%;
    top: -26%;
    -webkit-transition: -webkit-transform 8s;
}
.menu_btn {
	display: none;
}
.hide_menu {
	display: none;
}
#close {
	display: none;
}

@media screen and (min-width: 1000px) 
		      and (max-width: 1440px) {
		      	.site_menu img {
    position: relative;
    left: 20%;
    width: 80%;
}
.header_img img {
    height: auto;
    width: 100%;
    /* background-size: cover; */
}
.dark {
	height: 267px;
}
.logo img {
	width: 18.5%;
}

}

@media screen 
and (min-device-width: 420px)
and (max-device-width: 1024px) {
	.colos_animate19 {
		display: none;
	}
	.colos_animate3 {
		opacity: .6;
	}
	.colos_animate4 {
		opacity: .6;
	}
	.colos_animate6 {
		opacity: .6;
	}
	.colos_animate8 {
		opacity: .6;
	}
	.colos_animate9 {
		opacity: .6;
	}
	.site_menu {
		display: none;
	}
	.header_img img {
    height: auto;
    width: 100%;
    /* background-size: cover; */
}
.dark {
	height: 181px;
}
.logo img {
	width: 18.5%;
}
footer {
	display: none;
}
.main_title {
	margin: 0;
}
.colos_animate12 {
    bottom: 5%;
    right: 0;
    width: 7%;
    -webkit-transition: -webkit-transform 5s;
}
.colos_wrap {
    position: relative;
    width: 96%;
    height: 100%;
} 
.conteiner_for_text {
    width: 90%;
}
.conteiner_for_text h1 {
	font-size: 16px;
	line-height: 52px;
}
					/*MENU*/
	.menu_btn {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 62%;
    	right: 3%;
    	cursor: pointer;
	}
	.hide_menu {
		display: none;
		width: 100%;
		height: 100%;
		background: #FFFDF2;
		position: absolute;
		top: 14%;
		z-index: 3;

	}
	.animate__slideInRight {
		width: 90%;
	}
	.site_menu_hide {
		display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
	}
	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -11%;
	}
	.text_hide a {
		font-size: 43px;
   		line-height: 23px;
   		text-transform: uppercase;
   		text-decoration: none;
   		color: #000;

	}
	.text_hide li {
		margin: 10% 0;
		list-style-type: none;
		border-bottom: 1px solid #000;
    	padding-bottom: 8px;
	}
	.hide_wrap {
		display: flex;
	}
	.footer_social {
		margin: 0 3%;
	}
	.close_btn {
		position: absolute;
		right: 3%;
		top: -12.5%;
		cursor: pointer;
	}
	.footer_social img {
		width: 5%;
	}

	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -64%;
	}
	.geese {
		top: -7px;
	}
	.geese1 {
		top: -20px;
	}
	.geese2 {
		top: -34px;
	}
	.geese3 {
		top: -54px;
	}
	.geese4 {
		position: relative;
		
		top: -62px;
	}
	.geese5 {
		position: relative;
		
		top: -69px;
	}
	.geese6 {
		position: relative;
		
		top: -78px;
	}
	#close {
		position: absolute;
    right: 3%;
    top: 25%;
    cursor: pointer;
    display: block;
	}
	.footer_social img {
		width: 8%;
	}
	
	.hide1 {
		display: none;
	}
	.wrap_product_hide {
		display: none;
	}
	.foto_hide {
		display: none;
	}
}


@media screen 
and (min-device-width: 320px)
and (max-device-width: 414px) {
	.colos_animate19 {
		display: none;
	}
	.colos_animate3 {
		opacity: .6;
	}
	.colos_animate4 {
		opacity: .6;
	}
	.colos_animate6 {
		opacity: .6;
	}
	.colos_animate8 {
		opacity: .6;
	}
	.colos_animate9 {
		opacity: .6;
	}
	.site_menu {
		display: none;
	}
	.header_img img {
    height: auto;
    width: 100%;
    /* background-size: cover; */
}
.text_geese {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 52px;
}
.dark {
	height: 181px;
}
.logo img {
	width: 18.5%;
}
.main_title {
	margin: 0;
}
.conteiner_for_text {
    width: 90%;
}
.conteiner_for_text h1 {
	margin: 10% 0;
	font-size: 16px;
    line-height: 52px;
}
.colos_wrap {
    position: relative;
    width: 95%;
    height: 100%;
}
.name_geese {
    width: 47%;
}
.conteiner {
    display: flex;
    width: 93%;
}
.name_geese p {
    
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
}
footer {
	display: none;
}
.colos_animate12 {
    bottom: -3%;
    right: 0;
    width: 7%;
    -webkit-transition: -webkit-transform 5s;
}
							/*MENU*/
	.menu_btn {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 53%;
    	right: 3%;
    	cursor: pointer;
	}
	.hide_menu {
		display: none;
		width: 100%;
		height: 100%;
		background: #FFFDF2;
		position: absolute;
		top: 11%;
		z-index: 3;

	}
	.animate__slideInRight {
		width: 90%;
	}
	.site_menu_hide {
		display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    overflow: hidden;
	}
	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -11%;
	}
	.text_hide a {
		font-size: 43px;
   		line-height: 23px;
   		text-transform: uppercase;
   		text-decoration: none;
   		color: #000;

	}
	.img_link {
		position: relative;
		right: 0%;
	}
	.text_hide li {
		margin: 10% 0;
		list-style-type: none;
		border-bottom: 1px solid #000;
    	padding-bottom: 8px;
	}
	.hide_wrap {
		display: flex;
	}
	.footer_social {
		margin: 0 3%;
	}
	.close_btn {
		position: absolute;
		right: 3%;
		top: -12.5%;
		cursor: pointer;
	}
	.footer_social img {
		width: 5%;
	}

	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -64%;
	}
	.geese {
		top: -7px;
	}
	.geese1 {
		top: -20px;
	}
	.geese2 {
		top: -34px;
	}
	.geese3 {
		top: -54px;
	}
	.geese4 {
		position: relative;
		
		top: -62px;
	}
	.geese5 {
		position: relative;
		
		top: -69px;
	}
	.geese6 {
		position: relative;
		
		top: -78px;
	}
	#close {
		position: absolute;
    right: 3%;
    top: 33.5%;
    cursor: pointer;
    display: block;
	}
	.footer_social img {
		width: 8%;
	}
}























