body {
	margin: 0;
	padding: 0;
	background-color: #FFFDF2;
	font-family: 'Lora', serif;
}
header {
	position: relative;
}
/*first page*/
.header_img img {
	/*background: url(./img/head-video bg.png);*/
	height: 614px;
	width: 100%;
	
	
	/*background-size: cover;*/
}
.dark {
	background-color: rgba(0, 0, 0, .4);
	width: 100%;
    height: 614px;
    position: absolute;
    top: 0;
}
.header_img {
	position: relative;
}
.text_header {
	text-align: center;
	position: absolute;
	top: 38%;
	right: 28%;
	width: 46%;
}
.text_header h2 {
	font-size: 48px;
	line-height: 32px;
	color: #fff;
}
.text_header p {
	font-size: 24px;
	line-height: 32px;
	color: #fff;
}
.text_header1 p {
	font-size: 20px;
	line-height: 32px;
	font-weight: normal;
	color: #fff;
}
.logo img {
	/*background-color: rgba(255, 253, 242, 0.7);*/
	/*position: absolute;
	top: 0;*/
}
.text_wich_logo {
	display: flex;
	justify-content: center;
}

.main_title {
	display: flex;
	justify-content: center;
	margin-top: 125px;
	
	width: 64%;
}
.main_title1 {
	display: flex;
	justify-content: center;
	margin-top: 125px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin-bottom: 4%;
}
.main_title1 p {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 61px;
}
.titile_geese {
	display: flex;
	justify-content: center;
}

.title {
	margin: 0 1% 0 15%;
	border-left: 1px solid;
    padding-left: 6%;
}
.right_text {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px
}
.mind_section {
	display: flex;
	justify-content: center;
	background: #D7C99A;
	height: 344px;
	width: 100%;
	margin: 10% 0 0 0;
}

.discription {
	
	display: flex;
    justify-content: center;
   
}
.discription2 {
	display: flex;
	justify-content: center;
}
.discription span {
	font-family: 'Finger Paint', cursive;
}
.about {
	display: flex;
	justify-content: center;
	position: relative;
	right: 8%;
}
.about_title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	border-left: 1px solid #000;
	padding-left: 5%;
}
.about_title1 p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
}
.about_title {
	width: 578px;
	margin: 0 5%;
}
.about_title1 {
	width: 578px;
}
.signature {
	text-align: end;
}
.site_menu {
	display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    
}
.site_menu img {
	position: relative;
	left: 0;
}
.main_discription {
	display: flex;
	justify-content: center;
}
.img_link {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer_menu li {
	display: inline;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	margin: 0 20px;
}
.footer_menu a {
	text-decoration: none;
	color: #000;
}
.footer {
	background: #FFFFFF;
}
.footer_social img {
	margin: 8px 10px;
}
.footer_menu a:hover {
	border: 0px solid #000;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 2px;
	transition: .4s;
}

/*geese1*/
.about_gees {
	display: flex;
	justify-content: center;
	margin-top: 5%;

}
.conteiner {
	display: flex;
    width: 64%;
}
.name_geese {
	width: 27%;
}
.name_geese p {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.name_geese span {
	position: relative;
}
.foto_geese {
	position: relative;
	left: 33%;
    top: -36%;
}
.foto_geese img  {
	position: absolute;
	bottom: 0;
	left: 62px;
}
.bg_foto {
	width: 433px;
	height: 281px;
	background: #89694A;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	    position: absolute;
    z-index: -1;
    bottom: -17px;
    left: 77px;

}
.conteiner_for_text {
	width: 64%;
}
.text_geese {
	width: 210%;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.text_geese1 {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	margin: auto 0;
	width: 100%;
	text-align: center;
}
.foto_cart {
	position: relative;
    top: -21%;
    width: 100%;
}
.foto_cart img {
	margin: 0 10px 0 0;
	width: 31%;
}
.video_recipe {
	display: flex;
	justify-content: center;
	background: #89694A;
}
.film {
	width: 80%;
	height: 215px;
	background: #fff;
	margin: 5% 1%;
	padding: 10px;
}
.foto_conteiner {
	display: flex;
	justify-content: center;
}
.foto_slide {
	margin-top: 5%;
}
.scale {
	transition: 1s;
}
.scale:hover {
	transform: scale(1.2);
}
.mini_text {
	position: absolute;
    top: 48px;
    left: 62px;
    font-size: 18px;
    line-height: 25px;
}
.name_product {
	display: flex;
	justify-content: space-around;
}
.text_name {
	font-weight: normal;
	font-size: 36px;
	line-height: 25px;
	color: #89694A;
	text-align: center;
}
.text_name1 {
	font-weight: normal;
	font-size: 36px;
	line-height: 25px;
	color: #89694A;
	text-align: center;
	position: relative;
    top: -10px;
}
.text_name1 p {
	width: 500px;
}
.horizont_line hr {
	height: 2px;
	color: #000;
	width: 417px;
	margin: 12% 0;
	/*border: none;*/
}
.horizont_line1 hr {
	height: 2px;
	color: #000;
	width: 340px;
	margin: 12% 0;
	/*border: none;*/
}
.product {
	display: flex;
	justify-content: center;
}
.conteiner_product {
	display: flex;
	justify-content: center;
	width: 64%;
}
.horizont_line {
	margin: 0 15%;
}
.horizont_line1 {
	margin: 0 4%;
}
.wrap_product {
	display: flex;
	justify-content: space-between;
	width: 64%;
}
.wrap_product2 {
	display: flex;
	justify-content: space-between;
	width: 47%;
}
.img_product {
	margin: 0 2%;
	position: relative;
	/*box-shadow: 0px 0px 9px rgba(0, 0, 0, 1);*/
}
.img_product img {
	width: 100%;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 1.3);
}
.bg_img_product {
	width: 112%;
	height: 114%;
	background: #89694A;
	position: absolute;
    top: 5px;
    right: -6%;
    z-index: -1;
}
.text_after_product {
	position: absolute;
	bottom: 4%;
	right: 43%;
	text-align: center;
}
.text_after_product p {
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}
.text_after_product2 {
	position: absolute;
	bottom: 4%;
	right: 38%;
	text-align: center;
}
.text_after_product2 p {
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}
#first_section {
	margin-top: 1%
}
#second_section {
	margin-top: 10%;
}
#movie {
	right: 30%;
}
#movie1, #movie2 {
	right: 27%;
}
#horizont {
	/*margin-top: 10%;*/
}
.one_text {
	display: flex;
	justify-content: center;
}
.one_text p {
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.one_text1 {
	display: flex;
	justify-content: center;
	position: relative;
    top: 186px;
}
.one_text1 p {
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.conteiner_for_text p {
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.title2 p {
	font-size: 24px;
line-height: 32px;
}
.button_soc {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10%;
}
.button_soc button {
	width: 17%;
    height: 58px;
    border: none;
    border-radius: 8px;
    background: #89694A;
}
.button_soc a {
	font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    outline: none;
    text-decoration: none;
    margin-top: 5px;
}
.btn_flex {
	display: flex;
	justify-content: space-around;
}
.ice_book {
	display: flex;
}
.ice_img {
	position: relative;
}
.ice_text {
	position: absolute;
    top: 33%;
    left: 102%;
}
.prise {
	display: flex;
	justify-content: space-around;
	margin: 7% 0;
}
.curcule {
	width: 147px;
	height: 147px;
	border-radius: 50%;
	background: #E9DFD8;
	position: relative;
}
.mini_curcule  {
	width: 42%;
	height: 61px;
	border-radius: 50%;
	background: #89694A;
	position: absolute;
	top: -13%;
	left: -23%;
}
.mini_curcule p {
text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    margin: 23% 0 0 0;
}
.curcule_text p {
	text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    margin: 39% 0 0 0;
}
.text_curcule p {
	margin: 7% 0 0 0;
}
.curcule_text {
	position: relative;
}
.curcule_text img {
	position: absolute;
	top: 32px;
	right: 35px;
}
#one {
	position: relative;
	right: 5%;
}
#two {
	position: relative;
	right: 3%;
}
#three {
	position: relative;
	right: 1%;
}
.conteiner_prise {
	display: flex;
	justify-content: space-around;
	width: 87%;
}
.pay1 img {
	position: relative;
	top: 32%;

}
.pay2 img {
	position: relative;
	top: 13%;	
}
.text_after_foto {
	display: flex;
	justify-content: center;
	margin: 10% 0 1% 0;
}
.block_text {
	width: 58%;
	margin: 0 5%;
}
.block_text p {
	font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
}
.foto_collection {
	display: flex;
	justify-content: center;
	position: relative;
}
.contaneir_boxfoto {
	position: relative;
	width: 100%;
	display: flex;
}
.contaneir_boxfoto img {

}
.box_foto {
	position: relative;
	left: 16%;
}
.box_foto1 {
	position: relative;
	top: 61.2%;
	left: 15.3%;
	margin: 0 2%;
}
.box_foto4 {
	position: relative;
	bottom: -36.3%;
	right: 22%;
}
.box_foto2 {
	position: relative;
	right: 	2%;
}
.box_foto3 {
	position: relative;
	right: .7%;
}
.contaneir_boxfoto img {
	width: 100%;
}
.box_foto, .box_foto1, .box_foto2, .box_foto3, .box_foto4 {
	height: auto;
}
#down {
	margin: 0% 0;
}
.bg_img_product:hover {
	background: #BF9062;
}
.animate_colos {
	position: absolute;
    bottom: -92%;
    left: 5%;
    -webkit-transition: -webkit-transform 7s;
      z-index: 1;
}
.animate_colos1 {
	position: absolute;
    bottom: -118%;
    left: 5%;
    -webkit-transition: -webkit-transform 5s;
      z-index: 1;
}
.animate_colos2 {
	position: absolute;
    bottom: -75%;
    left: 16%;
    -webkit-transition: -webkit-transform 4s;
      z-index: 1;
}
.animate_colos3 {
	position: absolute;
    bottom: -88%;
    left: 50%;
    -webkit-transition: -webkit-transform 5s;
      z-index: 1;
}
.animate_colos4 {
	position: absolute;
    bottom: -40%;
    left: 5%;
    -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos5 {
	position: absolute;
    left: 10%;
    bottom: -13%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos6 {
	position: absolute;
    bottom: -76%;
    left: 0;
    -webkit-transition: -webkit-transform 5s;
      z-index: 1;
}
.animate_colos7 {
	position: absolute;
    left: 35%;
    bottom: -5%;
    -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos8 {
	position: absolute;
	right: 30%;
	-webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos9 {
	position: absolute;
    bottom: -91%;
    left: 10%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos10 {
	position: absolute;
    right: 10%;
    top: 500%;
     -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos11 {
	position: absolute;
    top: 300%;
    left: 2%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos12 {
	position: absolute;
    right: 10%;
    top: -57%;
     -webkit-transition: -webkit-transform 4s;
      z-index: -1;
}
.animate_colos13 {
	position: absolute;
    right: 5%;
    top: 400%;
     -webkit-transition: -webkit-transform 5s;
      z-index: -1;
}
.animate_colos14 {
	position: absolute;
    top: 627%;
    left: 17%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos15 {
	position: absolute;
    right: 5%;
    top: 160%;
     -webkit-transition: -webkit-transform 12s;
      z-index: -1;
}
.animate_colos16 {
	position: absolute;
    bottom: 108%;
    left: 15%;
     -webkit-transition: -webkit-transform 10s;
      z-index: 1;
}
.animate_colos17 {
	position: absolute;
    left: 10%;
    top: 300%;
     -webkit-transition: -webkit-transform 5s;
      z-index: -1;
}
.animate_colos18 {
	position: absolute;
    right: 20%;
     -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos20 {
	position: absolute;
    top: 500%;
    left: 8%;
     -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos21 {
	position: absolute;
    top: 679%;
    left: 13%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos22 {
	position: relative;
    left: 89%;
    top: 1030px;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos23 {
	position: absolute;
    top: -400%;
    left: 10%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos24 {
	position: absolute;
    right: 10%;
    top: 10%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos25 {
	position: absolute;
    top: -200%;
    left: 5%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos26 {
	position: absolute;
    right: 18%;
    top: -300%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos27 {
	position: absolute;
    top: -500%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos28 {
	position: absolute;
    right: 10%;
    top: -200%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos29 {
	position: absolute;
    top: -100%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos30 {
	position: absolute;
    right: 0;
    top: -350%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos31 {
	position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos32 {
	position: absolute;
    left: 40%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos33 {
	position: relative;
    left: 10%;
    -webkit-transition: -webkit-transform 5s;
      z-index: -1;
}
.animate_colos34 {
	position: absolute;
    top: -68%;
    left: 14%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos35 {
	position: absolute;
    right: 27%;
    top: -300%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos36 {
	position: absolute;
    right: 27%;
    top: -68%;
    -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos37 {
	position: absolute;
    right: 15%;
    top: -300%;
    -webkit-transition: -webkit-transform 15s;
      z-index: -1;
}
.animate_colos38 {
	position: absolute;
    top: -200%;
    left: 7%;
    -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos39 {
	position: absolute;
    top: -200%;
    right: 10%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos40 {
	position: relative;
	-webkit-transition: -webkit-transform 18s;
      z-index: -1;
}
.colos_animate {
	position: relative;
}









