body {
	margin: 0;
	padding: 0;
	background-color: #FFFDF2;
	font-family: 'Lora', serif;
}
header {
	position: relative;
}
/*first page*/
.header_img img {
	/*background: url(./img/head-video bg.png);*/
	height: 341px;
	width: 100%;
	
	/*background-size: cover;*/
}
#img_soc {
	position: relative;
	    top: 14px;
    left: 9%;
    width: 22%;
}
.menu_btn {
	display: none;
}
.logo img {
	background-color: rgba(255, 253, 242, 0.7);
	position: absolute;
	top: 0;
}
.dark {
	background-color: rgba(0, 0, 0, .4);
	width: 100%;
    height: 341px;
    position: absolute;
    top: 0;
}
.main_title {
	display: flex;
	justify-content: center;
	margin-top: 125px;
	border-bottom: 1px solid #000;
	width: 64%;
}
.main_title1 {
	display: flex;
	justify-content: center;
	margin-top: 125px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin-bottom: 4%;
}
.main_title1 p {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 61px;
}
.titile_geese {
	display: flex;
	justify-content: center;
}
.main_title p {
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.title {
	margin: 0 10%;
}
.title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.discription {
	
	display: flex;
    justify-content: center;
   
}
.discription2 {
	display: flex;
	justify-content: center;
}
.discription span {
	font-family: 'Finger Paint', cursive;
}
.about {
	display: flex;
	justify-content: center;
	position: relative;
	right: 8%;
}
.about_title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	border-left: 1px solid #000;
	padding-left: 5%;
}
.about_title1 p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
}
.about_title {
	width: 578px;
	margin: 0 5%;
}
.about_title1 {
	width: 578px;
}
.signature {
	text-align: end;
}
.site_menu {
	display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    
}
.site_menu img {
	position: relative;
	left: 0;
}
.main_discription {
	display: flex;
	justify-content: center;
}
.img_link {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0;
	z-index: 5;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer_menu li {
	display: inline;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	margin: 0 20px;
}
.footer_menu a {
	text-decoration: none;
	color: #000;
}
.footer {
	background: #FFFFFF;
}
.footer_social img {
	margin: 8px 10px;
}
.footer_menu a:hover {
	border: 0px solid #000;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 2px;
	transition: .4s;
}

/*geese1*/
.about_gees {
	display: flex;
	justify-content: center;
	margin-top: 5%;

}
.conteiner {
	display: flex;
    width: 64%;
}
.name_geese {
	width: 27%;
}
.name_geese p {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.name_geese span {
	position: relative;
}
.foto_geese {
	position: relative;
	left: 33%;
    top: -36%;
}
.foto_geese img  {
	position: absolute;
	bottom: 0;
	left: 62px;
}
.bg_foto {
	width: 433px;
	height: 281px;
	background: #89694A;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	    position: absolute;
    z-index: -1;
    bottom: -17px;
    left: 77px;

}
.conteiner_for_text {
	width: 64%;
}
.text_geese {
	width: 210%;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.text_geese1 {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.foto_cart {
	position: relative;
    top: -21%;
    width: 100%;
}
.foto_cart img {
	margin: 0 10px 0 0;
	width: 31%;
}
.video_recipe {
	display: flex;
	justify-content: center;
	background: #89694A;
}
.film {
	width: 80%;
	height: 215px;
	background: #fff;
	margin: 5% 1%;
	padding: 10px;
}
.foto_conteiner {
	display: flex;
	justify-content: center;
}
.foto_slide {
	margin-top: 5%;
}
.scale {
	transition: 1s;
}
.scale:hover {
	transform: scale(1.2);
}
.mini_text {
	position: absolute;
    top: 48px;
    left: 62px;
    font-size: 18px;
    line-height: 25px;
}
.name_product {
	display: flex;
	justify-content: space-around;
}
.text_name {
	font-weight: normal;
	font-size: 36px;
	line-height: 25px;
	color: #89694A;
	text-align: center;
}
.horizont_line hr {
	height: 2px;
	color: #000;
	width: 417px;
	margin: 12% 0;
	/*border: none;*/
}
.product {
	display: flex;
	justify-content: center;
}
.conteiner_product {
	display: flex;
	justify-content: center;
	width: 64%;
}
.horizont_line {
	margin: 0 15%;
}
.wrap_product {
	display: flex;
	justify-content: space-between;
	width: 64%;
}
.wrap_product2 {
	display: flex;
	justify-content: space-between;
	width: 47%;
}
.img_product {
	margin: 0 2%;
	position: relative;
	/*box-shadow: 0px 0px 9px rgba(0, 0, 0, 1);*/
}
.img_product img {
	width: 100%;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 1.3);
}
.bg_img_product {
	width: 112%;
	height: 121%;
	background: #89694A;
	position: absolute;
    top: 5px;
    right: -6%;
    z-index: -1;
}
.text_after_product {
	position: absolute;
	bottom: 4%;
	right: 43%;
	text-align: center;
}
.text_after_product p {
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}
.text_after_product2 {
	position: absolute;
	bottom: 4%;
	right: 38%;
	text-align: center;
}
.text_after_product2 p {
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}
#first_section {
	margin-top: 1%
}
#second_section {
	margin-top: 10%;
}
#movie {
	right: 30%;
}
#movie1, #movie2 {
	right: 27%;
}
#horizont {
	margin-top: 10%;
}
.one_text {
	display: flex;
	justify-content: center;
}
.one_text p {
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.one_text1 {
	display: flex;
	justify-content: center;
	position: relative;
    top: 186px;
}
.one_text1 p {
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.conteiner_for_text p {
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}
.title2 p {
	font-size: 24px;
line-height: 32px;
}
.button_soc {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10%;
}
.button_soc button {
	width: 17%;
    height: 58px;
    border: none;
    border-radius: 8px;
    background: #89694A;
}
.button_soc a {
	font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    outline: none;
    text-decoration: none;
    margin-top: -25px;
    width: 100%;
}
.btn_flex {
	display: flex;
	justify-content: space-around;
}
.ice_book {
	display: flex;
}
.ice_img {
	position: relative;
}
.ice_text {
	position: absolute;
    top: 33%;
    left: 102%;
}
.prise {
	display: flex;
	justify-content: space-around;
	margin: 7% 0;
}
.curcule {
	width: 147px;
	height: 147px;
	border-radius: 50%;
	background: #E9DFD8;
	position: relative;
}
.mini_curcule  {
	width: 42%;
	height: 61px;
	border-radius: 50%;
	background: #89694A;
	position: absolute;
	top: -13%;
	left: -23%;
}
.mini_curcule p {
text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    margin: 23% 0 0 0;
}
.curcule_text p {
	text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    margin: 39% 0 0 0;
}
.text_curcule p {
	margin: 7% 0 0 0;
}
.curcule_text {
	position: relative;
}
.curcule_text img {
	position: absolute;
	top: 32px;
	right: 35px;
}
#one {
	position: relative;
	right: 5%;
}
#two {
	position: relative;
	right: 3%;
}
#three {
	position: relative;
	right: 1%;
}
.conteiner_prise {
	display: flex;
	justify-content: space-around;
	width: 87%;
}
.pay1 img {
	position: relative;
	top: 32%;

}
.pay2 img {
	position: relative;
	top: 13%;	
}
.block_one {
	position: relative;
}
.animate_colos {
	position: absolute;
    left: 12%;
    bottom: 100%;
    z-index: -1;
    -webkit-transition: -webkit-transform 1s;
}
.animate_colos2 {
	position: absolute;
    bottom: 25%
    z-index: -1;;
    left: 4%;
     -webkit-transition: -webkit-transform 2s;
}
.animate_colos3 {
	    position: absolute;
    top: -42%;
    left: 24%;
    z-index: -1;
     -webkit-transition: -webkit-transform 8s;
}
.animate_colos4 {
	    position: absolute;
    bottom: -20%;
    left: 12%;
    z-index: -1;
     -webkit-transition: -webkit-transform 4s;
}
.animate_colos5 {
	    position: absolute;
    top: -97%;
    left: 3%;
    z-index: -1;
     -webkit-transition: -webkit-transform 10s;
}
.animate_colos6 {
	    position: absolute;
    left: 10%;
    bottom: 6%;
    z-index: -1;
     -webkit-transition: -webkit-transform 10s;
}
.animate_colos7 {
	    position: absolute;
    bottom: 49%;
    z-index: -1;
     -webkit-transition: -webkit-transform 10s;
}
.colos_animate, .colos_animate2, .colos_animate3, .colos_animate4{
	position: relative;
	margin: -3% 0;
	width: 96%;
} 
.colos_animate5 {
	position: relative;
	margin: -8% 0;
}
.colos_animate6 {
	position: relative;
	/*margin: -8% 0;*/
}
.animate_colos8 {
	    position: absolute;
    top: -178%;
    left: 7%;
    z-index: -1;
      -webkit-transition: -webkit-transform 8s;
}
.animate_colos9 {
	position: absolute;
    top: -50%;
    left: 3%;
    z-index: -1;
      -webkit-transition: -webkit-transform 5s;
}
.animate_colos10 {
	position: absolute;
    right: 13%;
    top: -4%;
    z-index: -1;
      -webkit-transition: -webkit-transform 7s;
}
.animate_colos11 {
	position: absolute;
    right: 2%;
    top: -170%;
    z-index: -1;
      -webkit-transition: -webkit-transform 5s;
}
.animate_colos12 {
	position: absolute;
    top: 0%;
    left: 13%;
    z-index: -1;
      -webkit-transition: -webkit-transform 10s;
}
.animate_colos13 {
	position: absolute;
    right: 6%;
    top: -43%;
    z-index: -1;
      -webkit-transition: -webkit-transform 10s;
}
.animate_colos14 {
	position: absolute;
    right: 13%;
    top: -256%;
    z-index: -1;
      -webkit-transition: -webkit-transform 10s;
}
.animate_colos15 {
	position: relative;
    left: 89%;
    top: 63px;
      -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos16 {
	position: absolute;
    right: 17%;
    top: -107%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos17 {
	position: absolute;
    left: 10%;
    top: -100%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos18 {
	position: absolute;
    right: 10%;
    top: 49%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos19 {
	top: -152%;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos20 {
	position: absolute;
    top: -200%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos21 {
	position: absolute;
    left: 7%;
    top: 0;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos22 {
	position: absolute;
    top: -174%;
    left: 18%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos23 {
	position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos24 {
	position: relative;
    left: 340px;
    top: -59px;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos25 {
	position: absolute;
    left: 14%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos26 {
	position: absolute;
    left: 15%;
    top: -118%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos27 {
	position: absolute;
    top: 48%;
    left: 4%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos28 {
	position: absolute;
    right: 3%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos29 {
	position: absolute;
    right: 5%;
    top: -151%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos30 {
	position: absolute;
    top: -164%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos31 {
	position: absolute;
    left: 15%;
    top: 150%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos32 {
	position: relative;
    left: 79%;
    top: -100px;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos33 {
	position: absolute;
    top: -337%;
    right: -15%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos34 {
	position: absolute;
    top: 88%;
    left: -12%;
     -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos35 {
	position: absolute;
    top: -271%;
    right: -6%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos36 {
	position: absolute;
    right: -13%;
    top: -101%;
     -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos37 {
	position: absolute;
    right: -23%;
    top: -261%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos38 {
	position: absolute;
    right: -28%;
}
.animate_colos39 {
	position: relative;
    right: 11%;
    top: -428px;
     -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos40 {
	position: absolute;
    left: -27%;
    top: -150%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos41 {
	position: absolute;
    right: 28%;
    top: -254%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos42 {
	position: absolute;
    right: 5%;
    top: -348px;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos43 {
	position: absolute;
    right: 21%;
    top: -50%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos44 {
	position: absolute;
    left: -20%;
    top: -147%;
    -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos45 {
	position: relative;
    left: 95%;
    top: -197px;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos46 {
	position: absolute;
    right: -10%;
    top: -399%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos47 {
	position: absolute;
    left: -10%;
    top: -400%;
     -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos48 {
	position: absolute;
    top: -158%;
    left: -14%;
     -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos49 {
	position: absolute;
    right: -13%;
    top: -175%;
     -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos50 {
	position: absolute;
    left: -29%;
    top: -300%;
     -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos51 {
	position: relative;
    left: 112%;
    top: -700px;
     -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos52 {
	position: absolute;
    top: -200%;
    left: 7%;
    -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos53 {
	position: absolute;
    right: 0;
    top: -221%;
    -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos54 {
	position: absolute;
    right: 10%;
    top: -82%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos55 {
	position: absolute;
    top: -352%;
    left: 11%;
    -webkit-transition: -webkit-transform 5s;
      z-index: -1;
}
.animate_colos56 {
	position: absolute;
    right: 8%;
    top: -352%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos57 {
	position: absolute;
    right: 18%;
    top: 22%;
    -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos58 {
	position: relative;
    left: 10%;
    top: 69px;
    -webkit-transition: -webkit-transform 10s;
    
}
.hide_about {
	display: none;
}
.hide_dsc {
	display: none;
}
.hide-BTN {
	display: none;
}
.hide_menu {
	display: none;
}
.close_btn {
	display: none;
}


@media screen and (min-width: 1000px) 
			  and (max-width: 1440px) {
			  	.dark {
			    background-color: rgba(0, 0, 0, .4);
			    width: 100%;
			    height: 267px;
			    position: absolute;
			    top: 0;
}
.site_menu img {
    position: relative;
    left: 21%;
    width: 80%;
}
.hide_dsc {
	display: none;
}
.hide_about {
	display: none;
}
.header_img img {
    height: auto;
    width: 100%;
}
.logo img {
	height: 49%;
}
.mini_text {
    position: absolute;
    top: 199px;
    left: 62px;
    font-size: 18px;
    line-height: 25px;
}

.horizont_line {
    margin: 0 9%;
}
.conteiner {
    display: flex;
    width: 64%;
    position: relative;
    top: -103px;
}
.animate_colos53 {
    position: absolute;
    right: 34px;
    top: -221%;
    -webkit-transition: -webkit-transform 9s;
    z-index: -1;
}
.animate_colos23 {
    position: absolute;
    right: 19px;
    -webkit-transition: -webkit-transform 10s;
    z-index: -1;
}
.animate_colos24 {
    position: relative;
    left: 245px;
    top: 84px;
    -webkit-transition: -webkit-transform 10s;
    z-index: -1;
}
.about_gees {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.text_after_product {
    position: absolute;
    bottom: -1%;
    right: 37%;
    text-align: center;
}
.text_after_product2 {
    position: absolute;
    bottom: -2%;
    right: 38%;
    text-align: center;
}
#text_prise {
	top: -50%;
}
.button_soc a {

    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    outline: none;
    text-decoration: none;
    margin-top: -9px;
    width: 100%;

}
.button_soc button {
	width: 20%;
}
#img_soc {
    position: relative;
    top: 8px;
    left: 9%;
    width: 22%;
}

}


@media screen 
and (min-device-width: 420px)
and (max-device-width: 1024px) {
	.animate_colos7 {
		opacity: .7
	}
	.hide_dsc {
		display: none;
	}
	.animate_colos51 {
    position: relative;
    left: 108%;
    top: -700px;
    -webkit-transition: -webkit-transform 7s;
    z-index: -1;
}
.horizont_line hr {
    height: 2px;
    color: #000;
    width: 177px;
    margin: 12% 0;
    /* border: none; */
}
.horizont_line hr {
    height: 2px;
    color: #000;
    width: 297px;
}
.about_gees {
	display: none;
}
.dark {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 161px;
    position: absolute;
    top: 0;
}
.header_img img {
    height: 161px;
    width: 100%;
    /* background-size: cover; */
}
.logo img {
    background-color: rgba(255, 253, 242, 0.7);
    position: absolute;
    top: 0;
    width: 16.5%;
}
.main_title {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    border-bottom: 1px solid #000;
    width: 64%;
}
.site_menu {
	display: none;
}
.hide_about {
	width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.text_about {
	width: 80%;
    text-align: left;
}
.text_about p {
	    font-size: 20px;
    line-height: 38px;
}
#img_hide {
	margin: 0 29%;
}

.bg_foto {
    width: 433px;
    height: 281px;
    background: #89694A;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: -1;
    bottom: -17px;
    left: 36%;
}
.one_text {
    display: block;
    justify-content: center;
}
.one_text p {
	font-size: 27px;
}
.wrap_product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 3%;
}
.one_text1 {
    display: block;
    justify-content: center;
    position: relative;
    top: 75px;
}
.one_text1 p {
	font-size: 27px;
}
.wrap_product2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 3%;
}
.conteiner_for_text {
    width: 80%;
}
.button_soc button {
    width: 24%;
    height: 58px;
    border: none;
    border-radius: 8px;
    background: #89694A;
}
.conteiner_for_text p {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    width: 104%;
}
.animate_colos51 {
    position: relative;
    left: 79%;
    top: -700px;
    -webkit-transition: -webkit-transform 7s;
    z-index: -1;
}
.animate_colos37 {
    position: absolute;
    right: 9%;
    top: -261%;
    -webkit-transition: -webkit-transform 10s;
    z-index: -1;
}
.animate_colos38 {
    position: absolute;
    right: -28%;
    display: none;
}
.curcule {
    width: 192px;
    height: 147px;
    border-radius: 50%;
    background: #E9DFD8;
    position: relative;
}
#circule {
	width: 147px;
}
#circule2 {
	margin-top: 7%;
}
.text_curcule {
	margin-left: 5%;
}
footer {
	display: none;
}
.video_recipe {
	width: 100%;
}
.pay2 img {
    position: relative;
    top: 13%;
    display: none;
}
.horizont_line {
     margin: 0 11%; 
}
.colos_animate, .colos_animate2, .colos_animate3, .colos_animate4, .colos_animate5, .colos_animate6, .animate_colos1 {
	width: 90%;
}
.animate_colos45 {
		opacity: .7
	}
	.animate_colos55 {
		opacity: .7
	}

	/*MENU*/
	.menu_btn {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 53%;
    	right: 3%;
    	cursor: pointer;
	}
	.hide_menu {
		display: none;
		width: 100%;
		height: 100%;
		background: #FFFDF2;
		position: absolute;
		top: 13%;
		z-index: 3;

	}
	.animate__slideInRight {
		width: 90%;
	}
	.site_menu_hide {
		display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
	}
	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -11%;
	}
	.text_hide a {
		font-size: 43px;
   		line-height: 23px;
   		text-transform: uppercase;
   		text-decoration: none;
   		color: #000;

	}
	.text_hide li {
		margin: 10% 0;
		list-style-type: none;
		border-bottom: 1px solid #000;
    	padding-bottom: 8px;
	}
	.hide_wrap {
		display: flex;
	}
	.footer_social {
		margin: 0 3%;
	}
	.close_btn {
		position: absolute;
		right: 3%;
		top: -12.5%;
		cursor: pointer;
	}
	.footer_social img {
		width: 5%;
	}

	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -64%;
	}
	.geese {
		top: -7px;
	}
	.geese1 {
		top: -20px;
	}
	.geese2 {
		top: -34px;
	}
	.geese3 {
		top: -54px;
	}
	.geese4 {
		position: relative;
		
		top: -62px;
	}
	.geese5 {
		position: relative;
		
		top: -69px;
	}
	.geese6 {
		position: relative;
		
		top: -78px;
	}
	#close {
		position: absolute;
    right: 3%;
    top: 33%;
    cursor: pointer;
    display: block;
	}
	.footer_social img {
		width: 8%;
	}
	
	.hide1 {
		display: none;
	}
	.wrap_product_hide {
		display: none;
	}
	.foto_hide {
		display: none;
	}

}


@media screen 
and (min-device-width: 320px)
and (max-device-width: 414px) {
	.animate_colos7 {
		opacity: .7
	}
	.animate_colos45 {
		opacity: .7
	}
	.animate_colos55 {
		opacity: .7
	}
	.animate_colos37 {
    position: absolute;
    right: 24%;
    top: -261%;
    -webkit-transition: -webkit-transform 10s;
    z-index: -1;
}
.animate_colos38 {
	display: none;
}
.animate_colos33 {
    position: absolute;
    top: -337%;
    right: 18%;
    -webkit-transition: -webkit-transform 8s;
    z-index: -1;
}
.animate_colos36 {
    position: absolute;
    right: 4%;
    top: -101%;
    -webkit-transition: -webkit-transform 6s;
    z-index: -1;
}
.animate_colos51 {
    position: relative;
    left: 0;
    top: -700px;
    -webkit-transition: -webkit-transform 7s;
    z-index: -1;
}
.animate_colos49 {
    position: absolute;
    right: 0;
    top: -175%;
    -webkit-transition: -webkit-transform 10s;
    z-index: -1;
}
.animate_colos46 {
    position: absolute;
    right: 20%;
    top: -399%;
    -webkit-transition: -webkit-transform 8s;
    z-index: -1;
}
.animate_colos45 {
    position: relative;
    left: 0;
    top: -197px;
    -webkit-transition: -webkit-transform 10s;
    z-index: -1;
}
	.about_gees {
		display: none;
	}
	.hide_about {
	width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.site_menu  {
	display: none;
}
.horizont_line {
    margin: 0 7%;
}
.horizont_line hr {
    height: 2px;
    color: #000;
    width: 273px;
    margin: 27% 0;
    /* border: none; */
}
.dark {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 161px;
    position: absolute;
    top: 0;
}
.header_img img {
    height: 161px;
    width: 100%;
    /* background-size: cover; */
}
.logo img {
    background-color: rgba(255, 253, 242, 0.7);
    position: absolute;
    top: 0;
    width: 16.5%;
}
.logo {
	display: none;
}
.text_about {
	margin: 6% 0;
}
.text_about p {
	padding: 0 3%;
}
.text_about img {
	position: relative;
    left: 17%;
    top: 125px;
    width: 71%;
}
.bg_foto {
	width: 695px;
    height: 451px;
    left: 14%;
}
.colos_animate, .colos_animate2, .colos_animate3, .colos_animate4, .colos_animate5, .colos_animate6, .animate_colos1 {
	width: 95%;
}
.pay2 img {
    position: relative;
    top: 13%;
    display: none;
}
.text_name {
    font-weight: normal;
    font-size: 56px;
    line-height: 25px;
    color: #89694A;
    text-align: center;
}
.one_text p {
	display: block;
	font-size: 27px;
}
.conteiner {
	width: 100%;
}
.one_text1 {
	top: 75px;
}
.one_text1 p {
	display: block;
	font-size: 27px;
}
.wrap_product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text_after_product {
    position: absolute;
    bottom: -3%;
    right: 39%;
    text-align: center;
}
.text_after_product2 {
    position: absolute;
    bottom: -2%;
    right: 29%;
    text-align: center;
}
.text_after_product2 p {
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    color: #fff;
}
.wrap_product2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text_after_product p {
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    color: #fff;
}

#movie {
    right: 24%;
}
#movie1, #movie2 {
    right: 19%;
}
#movie3, #movie4 {
	right: 36%;
}
.conteiner_for_text {
    width: 100%;
    padding: 0 3%;
}
.title2 p {
    font-size: 24px;
    line-height: 32px;
    margin: 9% 0;
}
.text_geese1 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 9% 0px;
}
.button_soc {
	display: none;
}
.btn_nide1 button {
	width: 310px;
    height: 100px;
    border-radius: 19px;
    background: #89694A;
    margin: 5% 0;
}
.hide-BTN {
	display: flex;
	justify-content: center;
}
.btn_flex a {
	color: #fff;
    font-size: 33px;
    text-decoration: none;
    margin-top: 5%;
}
.btn_flex img {
	width: 23%;
}
.conteiner_for_text p {
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    padding: 0 2%;
}
.ice_img img {
	width: 400px;
}
.hide_mb {
	display: none;
}
.prise {
    display: block;
    justify-content: space-around;
    margin: 7% 0;
}
.curcule {
    width: 37%;
    height: 340px;
    border-radius: 50%;
    background: #E9DFD8;
    position: relative;
    margin: 0 auto;
}
.mini_curcule { 
    width: 40%;
    height: 129px;
    border-radius: 50%;
    background: #89694A;
    position: absolute;
    top: -13%;
    left: -23%;

}
.curcule_text {
	top: 40%;
}
.curcule_text img {
    position: absolute;
    top: -40px;
    right: 82px;
    width: 46%;
}
.hide_dsc {
	display: block;
}
.donw {
	margin-top: 5%;
}
footer {
	display: none;
}
	/*MENU*/
	.menu_btn {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 66%;
    	right: 3%;
    	cursor: pointer;
	}
	.hide_menu {
		display: none;
		width: 100%;
		height: 100%;
		background: #FFFDF2;
		position: absolute;
		top: 10%;
		z-index: 3;

	}
	.animate__slideInRight {
		width: 90%;
	}
	.site_menu_hide {
		display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
	}
	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -11%;
	}
	.text_hide a {
		font-size: 43px;
   		line-height: 23px;
   		text-transform: uppercase;
   		text-decoration: none;
   		color: #000;

	}
	.text_hide li {
		margin: 10% 0;
		list-style-type: none;
		border-bottom: 1px solid #000;
    	padding-bottom: 8px;
	}
	.hide_wrap {
		display: flex;
	}
	.footer_social {
		margin: 0 3%;
	}
	.close_btn {
		position: absolute;
		right: 3%;
		top: -12.5%;
		cursor: pointer;
	}
	.footer_social img {
		width: 5%;
	}

	.geese, .geese1, .geese2, .geese3 {
		position: relative;
		right: -64%;
	}
	.geese {
		top: -7px;
	}
	.geese1 {
		top: -20px;
	}
	.geese2 {
		top: -34px;
	}
	.geese3 {
		top: -54px;
	}
	.geese4 {
		position: relative;
		
		top: -62px;
	}
	.geese5 {
		position: relative;
		
		top: -69px;
	}
	.geese6 {
		position: relative;
		
		top: -78px;
	}
	#close {
		position: absolute;
    right: 3%;
    top: 23.5%;
    cursor: pointer;
    display: block;
	}
	.footer_social img {
		width: 8%;
	}
	
	.hide1 {
		display: none;
	}
	.wrap_product_hide {
		display: none;
	}
	.foto_hide {
		display: none;
	}
	.hide-BTN {
		display: flex;
	}
}










