body {
	margin: 0;
	padding: 0;
	background-color: #FFFDF2;
	font-family: 'Lora', serif;
}
/*first page*/
.header_img {
	/*background: url(./img/head-video bg.png);*/
	height: 356px;
	width: 100%;
	
	/*background-size: cover;*/
}
.header_img img {
	width: 100%;
}

.main_title {
	display: flex;
	justify-content: center;
	margin-top: 125px;
}
.title {
	margin: 0 10%;
}
.title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.discription {
	margin: 10% 0;
}
.discription span {
	font-family: 'Finger Paint', cursive;
}
.about {
	display: flex;
	justify-content: center;
	position: relative;
	right: 8%;
}
.about_title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	padding-left: 5%;
}
.about_title1 p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
}
.about_title {
	width: 578px;
	margin: 0 7% 0 11%;
}
.about_title1 {
	width: 578px;
	border-left: 1px solid #000;
	padding-left: 10.5%;
}
.signature {
	margin-top: 5%;
}
.signature1 {
	margin-top: 30%;
}
.site_menu {
	display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    top: -139%;
}
.site_menu img {
	position: relative;
	left: 0;
}
.main_discription {
	position: relative;
	margin-top: 10%;

}
.maps_block {
	margin-top: 10%;
	width: 100%;
	height: 560px;
	background: #89694A;
	display: flex;
	justify-content: space-around;
}
.maps_1 {
	margin: auto;
}
.title {
	border-left: 1px solid #000;
	padding-left: 11%;
}
.img_link {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer_menu li {
	display: inline;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	margin: 0 20px;
}
.footer_menu a {
	text-decoration: none;
	color: #000;
}
.footer {
	background: #FFFFFF;
}
.footer_social img {
	margin: 8px 10px;
}
.footer_menu a:hover {
	border: 0px solid #000;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 2px;
	transition: .4s;
}
.foto_conteiner {
	display: flex;
	justify-content: center;
}
.scale {
	transition: 1s;
}
.scale:hover {
	transform: scale(1.2);
}





















