body {
	margin: 0;
	padding: 0;
	background-color: #FFFDF2;
	font-family: 'Lora', serif;
}
/*first page*/
.header_img {
	/*background: url(./img/head-video bg.png);*/
	height: 356px;
	width: 100%;
	position: relative;
	
	/*background-size: cover;*/
}
.header_img img {
	width: 100%;
}
.dark {
	background-color: rgba(0, 0, 0, .4);
	width: 100%;
    height: 392px;
    position: absolute;
    top: 0;
}
.main_title {
	display: flex;
	justify-content: center;
	margin-top: 125px;
}
.title {
	margin: 0 10%;
}
.title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 61px;
}
.discription {
	margin: 10% 0;
}
.discription span {
	font-family: 'Finger Paint', cursive;
}
.about {
	display: flex;
	justify-content: center;
	position: relative;
	right: 8%;
}
.about_title p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	padding-left: 5%;
}
.about_title1 p {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
}
.about_title {
	width: 578px;
	margin: 0 7% 0 11%;
}
.about_title1 {
	width: 578px;
	border-left: 1px solid #000;
	padding-left: 10.5%;
}
.signature {
	margin-top: 5%;
}
.signature1 {
	margin-top: 30%;
}
.site_menu {
	display: grid;
	justify-content: end;
	position: absolute;
    right: 0;
    top: -105%;
}
.site_menu img {
	position: relative;
	left: 0;
}
.main_discription {
	position: relative;
	margin-top: 10%;

}
.maps_block {
	margin-top: 10%;
	width: 100%;
	height: 560px;
	background: #89694A;
	display: flex;
	justify-content: space-around;
}
.maps_1 {
	margin: auto;
}
.title {
	border-left: 1px solid #000;
	padding-left: 11%;
}
.img_link {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer_menu li {
	display: inline;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	margin: 0 20px;
}
.footer_menu a {
	text-decoration: none;
	color: #000;
}
.footer {
	background: #FFFFFF;
}
.footer_social img {
	margin: 8px 10px;
}
.footer_menu a:hover {
	border: 0px solid #000;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 2px;
	transition: .4s;
}
.foto_conteiner {
	display: flex;
	justify-content: center;
}
.scale {
	transition: 1s;
}
.scale:hover {
	transform: scale(1.2);
}
.colos_animate {
	position: relative;
}
.animate_colos1 {
	position: absolute;
    top: 79%;
    left: 10%;
    -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos2 {
	position: absolute;
    top: 91%;
    left: 5%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos3 {
	position: absolute;
    top: 59%;
    left: 40%;
    -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos4 {
	position: absolute;
    right: 33%;
    top: 54%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos5 {
	position: absolute;
    right: 35%;
    top: 94%;
    -webkit-transition: -webkit-transform 5s;
      z-index: -1;
}
.animate_colos6 {
	position: absolute;
    left: 30px;
    top: 50%;
    -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos7 {
	position: absolute;
    left: 14%;
    top: 96%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos8 {
	position: absolute;
    right: 21%;
    top: 74%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos9 {
	position: absolute;
    top: 55%;
    left: 14%;
    -webkit-transition: -webkit-transform 7s;
      z-index: -1;
}
.animate_colos10 {
	position: absolute;
    top: 87%;
    left: 37%;
    -webkit-transition: -webkit-transform 10s;
      z-index: -1;
}
.animate_colos11 {
	position: absolute;
    top: 174%;
    left: 3%;
    -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos12 {
	position: absolute;
    right: 5%;
    top: 243%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}
.animate_colos13 {
	position: relative;
    left: 0%;
    bottom: -349px;
    -webkit-transition: -webkit-transform 10s;
}
.animate_colos14 {
	position: relative;
    bottom: -600px;
    left: -5%;
    -webkit-transition: -webkit-transform 5s;
}
.animate_colos15 {
	position: relative;
    left: -5%;
    bottom: 438px;
    -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos16 {
	position: absolute;
    left: 31%;
    top: 150%;
    -webkit-transition: -webkit-transform 9s;
      z-index: -1;
}
.animate_colos17 {
	position: absolute;
    left: 1%;
    top: 121%;
    -webkit-transition: -webkit-transform 5s;
      z-index: -1;
}
.animate_colos18 {
	position: absolute;
    right: 5%;
    top: 187%;
    -webkit-transition: -webkit-transform 8s;
      z-index: -1;
}
.animate_colos19 {
	position: relative;
    left: 79%;
    top: 437px;
    -webkit-transition: -webkit-transform 7s;
}
.animate_colos20 {
	position: absolute;
    left: 32%;
    -webkit-transition: -webkit-transform 6s;
      z-index: -1;
}










